<launch>

    <!-- <arg name="demo_name" default="picknplace"/> -->
    <arg name="working_dir" value="$(find lfd_interface)/data" />
    <arg name="demo_name" default="picknplace0"/> 
    <arg name="plot_arg" default="dmp"/> 

    <include file="$(find lfd_interface)/launch/lfd_storage.launch"/>

    <node name="icra24" pkg="lfd_smoothing" type="icra24.py" output="screen">
        <param name="demo_name" value="$(arg demo_name)"/>
        <param name="plot_arg" value="$(arg plot_arg)"/>
        <param name="working_dir" value="$(arg working_dir)"/>
    </node>

</launch>
